{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page </title>
    <link rel="stylesheet" href="{% static 'users/register.css' %}">
</head>

<body>
    <div class="form-container">
        <h2>Register</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }} <br>
                {{ field }}

                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>